* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Blue-950: hsl(233, 26%, 24%);
  --Green-500: hsl(136, 64%, 51%);
  --Cyan-400: hsl(192, 69%, 51%);

  --Gray-600: hsl(233, 8%, 62%);
  --Gray-100: hsl(220, 16%, 96%);
  --Gray-50: hsl(0, 0%, 98%);
  --White: hsl(0, 100%, 100%);
}

body {
  background-color: var(--White);
}

/* mobile view */
/* mobile view */
.digital-section-background {
  background-color: var(--Gray-50);
}

.digital-section-content,
.latest-articles-content {
  padding-block: 3rem;
  padding-inline: 1rem;
}

.sub-heading {
  color: var(--Blue-950);
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sub-heading-paragraph {
  color: var(--Gray-600);
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1.5;
  max-width: 400px;
  text-align: center;
  margin: 0 auto 1rem auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1.5rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.flex-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  margin-top: 2rem;
  gap: 1rem;
}

.flex-items-heading {
  color: var(--Blue-950);
  font-weight: 400;
  font-size: 1.25rem;
}

.flex-items-paragraph {
  color: var(--Gray-600);
  font-weight: 400;
  font-size: 0.9rem;
  /* max-width: 230px; */
  line-height: 1.5;
  text-align: center;
}

.flex-items img {
  width: 4rem;
  margin-bottom: 1rem;
}

.latest-articles-card-content {
  padding: 1rem 1rem 2rem 1rem;
  background: var(--White);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0 0 0.3rem 0.3rem;
}

.latest-articles-card-writer {
  font-size: 0.85rem;
  color: var(--Gray-600);
  margin-bottom: 1rem;
}

.latest-articles-card-heading {
  font-size: 1.15rem;
  color: var(--Blue-950);
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.latest-articles-card-paragraph {
  font-size: 0.95rem;
  color: var(--Gray-600);
  line-height: 1;
}

.latest-articles-card img {
  width: 100%;
  border-radius: 0.3rem 0;
}

/* tablet view */
/* tablet view */

@media (min-width: 768px) {
  .digital-section-background {
    background-color: var(--Gray-50);
  }

  .digital-section-content,
  .latest-articles-content {
    max-width: 1200px;
    margin: 0 auto;
    padding-block: 3rem;
  }

  .sub-heading {
    color: var(--Blue-950);
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  .sub-heading-paragraph {
    color: var(--Gray-600);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 580px;
    margin-bottom: 1rem;
    text-align: left;
    margin-inline: 0;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-wrap: nowrap;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .grid-container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1.5rem;
  }

  .flex-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding: 1rem;
    margin-top: 2rem;
    gap: 1.8rem;
  }

  .flex-items-heading {
    color: var(--Blue-950);
    font-weight: 400;
    font-size: 1.25rem;
  }

  .flex-items-paragraph {
    color: var(--Gray-600);
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 230px;
    line-height: 1.5;
    text-align: left;
  }

  .flex-items img {
    width: 4rem;
    margin-bottom: 1rem;
  }

  .latest-articles-card {
    display: flex;
    flex-direction: column;
  }

  .latest-articles-card img {
    max-width: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
    height: 12rem;
  }
}
