* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Blue-950: hsl(233, 26%, 24%);
  --Green-500: hsl(136, 64%, 51%);
  --Cyan-400: hsl(192, 69%, 51%);

  --Gray-600: hsl(233, 8%, 62%);
  --Gray-100: hsl(220, 16%, 96%);
  --Gray-50: hsl(0, 0%, 98%);
  --White: hsl(0, 100%, 100%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  background-image: url("./images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.nav-mobile {
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: var(--White);
  display: flex;
  justify-content: space-between;
}

.nav-desktop {
  display: none;
}

.min-container {
  position: relative;
}

.image-container {
  width: 100%;
  position: absolute;
  top: -478px;
  left: 0;
}

.image-phone {
  display: block;
  max-width: 100%;
  position: absolute;
}

.header-container {
  margin-top: 25rem;
  text-align: center;
}

.header-container * {
  margin-bottom: 1rem;
}

.header {
  color: var(--Blue-950);
  font-size: 2.5rem;
}

.paragraph,
p {
  color: var(--Gray-600);
  font-size: 1rem;
}

.button {
  background: linear-gradient(45deg, var(--Green-500), var(--Cyan-400));
  border: 0px solid var(--White);
  border-radius: 1.5rem;
  color: var(--White);
  padding: 1rem 2rem;
}

footer {
  display: grid;
  background-color: var(--Blue-950);
  padding: 2rem 2rem 0rem 2rem;
  text-align: center;
}

footer * {
  margin-bottom: 1rem;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 320px) {
  .container {
    max-width: 375px;
  }
}

@media only screen and (min-width: 376px) {
  .container {
    max-width: 768px;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 200px -40%;
    background-size: cover;
  }

  .image-phone {
    max-width: 50%;
    transform: translate(100%, 20%);
    transition: all 0.5s ease;
    left: 0px;
  }

  .header-container {
    text-align: left;
    margin-right: 10rem;
    margin-top: 20rem;
    padding-left: 3rem;
  }

  .header {
    color: black;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 200px -40%;
    background-size: cover;
  }

  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    background-color: var(--White);
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .header-container {
    margin-top: 20rem;
    margin-right: 15rem;
  }

  footer {
    padding-inline: 5rem;
    display: grid;
    grid-template-columns: 0.4fr 0.5fr 1fr;
    text-align: start;
  }

  .svg-container {
    justify-content: start;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin: 0 auto;
  }

  .request {
    text-align: end;
    grid-area: span 2;
  }
  .min-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }

  .image-container {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
  }

  .image-phone {
    transform: translate(100%, -15%);
  }
}

@media only screen and (min-width: 1201px) {
  .container {
    max-width: 1440px;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 500px -200px;
    background-size: cover;
  }

  .header-container {
    margin-top: 20rem;
    margin-right: 20rem;
  }

  .header {
    font-size: 3rem;
  }

  .image-phone {
    transform: translate(100%, -7%);
  }
}